@font-face {
  font-family: 'Corporate S Light SC';
  src: url('../assets/fonts/Corporate S Light Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Corporate S Bold SC';
  src: url('../assets/fonts/Corporate S Bold.otf') format('opentype');
  font-style: normal;
  
}
@font-face {
  font-family: 'harmon';
  src: url('../assets/fonts/HarmoniasDemoRegular.ttf') format('truetype');
  font-style: normal;
  
}
.custom-navbar {
  margin: 80px 200px 0px 200px;
  border-radius: 20px 20px 0px 0px;
  background-color: orange; 
  font-family: 'Corporate S Light SC',sans-serif;
  
}
.custom-navbar  .head {
    
    margin-left: 30px; 
    background-color: rgb(252, 249, 244);
    border-radius: 10px 10px 10px 10px;
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif!important;
    font-size: xx-large ; 
    
    

    
}

/* Brand text (left side) */
.custom-navbar .navbar-brand {
  color: rgb(6, 0, 0) !important;
  font-family: Arial, Helvetica, sans-serif;
  /* font-weight: bold; */
  margin-left: 30px; 
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif!important;
  font-size: xx-large ;  
}

/* Nav links (Home, About, Projects, Contact) */
.custom-navbar .nav-link {
  color: white !important;
  font-weight: 600;
  transition: all 0.3s ease;
}

/* Hover effect */
.custom-navbar .nav-link:hover {
  color: black !important;
  transform: scale(1.2);
  background-color: antiquewhite;
  border-radius: 20px;
  padding : 10px 10px 10px 10px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Active link color */
.custom-navbar .nav-link.active {
  color: black !important;
  
}